extends layout 
 
block content
  h1= title
 
  form(id='tomatoForm', action="/resource/tomato", method="POST")
    div.form-group
        label.tomatoAttr(for='type') type 
        input#type(type='text', name='type')
    div.form-group
        label.tomatoAttr(for='expdate') expdate
        input#expdate(type='text', name='expdate')
    div.form-group
        label.tomatoAttr(for='cost')  cost
        input#cost(type='number', name='cost')
    input(type="submit")
 
  script.
    document.forms['tomatoForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body 
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });